body {
  font: 100% "Poppins", sans-serif;
  background-color: #a1b68b;
}

header {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 5%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /*flex-basis: ;*/
  background-color: #a1b68b;
  width: 100%;
  max-width: 100%;

  /* margin-left: 10%;
  margin-right: 10%; */

  height: 95%;
  margin-top: 5%;
  justify-content: space-around;
}

.box-1,
.box-2 {
  display: grid;
  border: 2px solid #edfedd;
  background-color: #edfedd;
  max-height: 100%;
  width: auto;
  max-width: 500px;

  /*margin: 10%;
  margin-bottom: 10%;
  align-content: space-between;  */

  grid-template-columns: 35% 65%;
  grid-template-rows: 35% 65%;
  
  overflow: hidden;
  justify-content: space-between;
}

.box-image-tag {
  float: right;

  width: 80%;
}

.box-image {
  background-color: #edfedd;
}

.box-h2 {
  background-color: #edfedd;
  width: 100%;
  padding-top: 30px;
}

h2 {
  font-weight: normal;
}

.box-ol {
  background-color: #edfedd;
  width: 95%;
  line-height: 170%;
  margin-top:10%;
  margin-bottom:10%;
  font-size: 1.3em;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 2;
}

footer {
  text-align: center;
}
